venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
*.env
node_modules/
dist/
build/
*.log
.DS_Store
*.sqlite3
*.db
*.bak
*.swp
*.swo
.idea/
.vscode/
frontend/front/.env
backend/core/settings_local.py